/* @import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;600;700&display=swap');

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #f0d9b5;
    font-family: 'Lexend', Arial, Helvetica, sans-serif;
} */

/* BOARD */

#board-main {
    background-color: #f0d9b5;
    min-height: 100vh;
    /* max-width: 100vw; */
    /* min-width: 100vw; */
    /* min-width: 900px; */
    min-width: 900px;
}

#board-and-pgn {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
}

.board {
    margin-top: 60px;
    margin-bottom: 50px;
    position: relative;
    display: block;
}

/* PGNS */

#pgn-and-buttons {
    margin-top: 50px;
    /* width: 220px;
    height: 400px; */
    padding: 15px 15px;
    font-size: large;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#pgns {
    width: 260px;
    height: 400px;
    padding: 15px 15px;
    border: 3px  lavender;
    border-style: inset;
    border-radius: 1%;
    overflow: auto;
}

.pgnlist {
    margin-top: 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    cursor: pointer;
}

.pgn {
    background-color:#f0d9b5;
    padding: 2px 2px;
}

.pgn:hover {
    background-color: #cfd8c3;
}

/* BUTTONS */

.reset-button {
    background-image: url('/assets/images/rewind_icon_100.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.undo-button {
    background-image: url('/assets/images/undo_icon_100.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.forward-once-button {
    background-image: url('/assets/images/forward_once_icon_100.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.double-forward-button {
    background-image: url('/assets/images/double_forward_icon_100.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.buttons {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 4px;
    border-style: solid;
    border-width: 2px;
    padding-top: 2px;
    padding-bottom: 5px;
}

.resignBtn {
    background-color: #b58863;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 999px;
    font-size: 25px;
    font-weight: bold;
}

.landing-btn {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: auto;
    margin-top: 20px;
}

/* CLOCK */

.clock {
    position: absolute;
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: large;
    font-weight: bold;
}

.try {
    top: -50px;
    left: 0;
    margin-bottom: 50px;
}

.try-bottom {
    bottom: -55px;
    left: 0;
    margin-top: 5px;
}

.clock-top {
    top: -50px;
    right: 0;
    margin-bottom: 50px;
}

.clock-bottom {
    bottom: -55px;
    right: 0;
    margin-top: 5px;
}

.game-status {
    margin-top: 25px;
    padding: 2px 4px;
    font-style: oblique;
    max-width: 260px;
    text-align: center;
}

/* ERROR */

#invalid-game-id {
    margin: 25% 30%;
    font-size: larger;
    font-weight: 600;
    font-style: italic;
}

.error-parent {
    max-height: 100vh;
    max-width: 100vw;
    font-size: larger;
    font-weight: 900;
    font-style: italic;
}

.error-main {
    margin: 45vh 20vw;
}

/* FEN */

.fen-display{
    overflow: auto;
    font-size: large;
    font-weight: bold;
    bottom: -110px;
    position: absolute;
}

/* MEDIA QUERY */

@media (max-width: 500px) {

    #board-main {
        min-width: 400px;
    }
    
    #board-and-pgn {
        flex-direction: column;
    }

    #pgn-and-buttons {
        order: 1;
        font-size: 18px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 80px;
        margin-left: auto;
        margin-right: auto;
    }

    #pgns {
        width: 260px;
        height: 40px;
        padding: 2px 2px;
        border: 1px  lavender;
        border-style: inset;
        border-radius: 1%;
        order: 0;
    }

    .game-status {
        margin-top: 15px;
        padding: 2px 4px;
        font-style: oblique;
        max-width: 260px;
        order: 3;
    }

    .buttons {
        margin-top: 15px;
        display: flex;
        justify-content: space-evenly;
        border-radius: 4px;
        border-style: solid;
        border-width: 2px;
        padding-top: 2px;
        padding-bottom: 5px;
        order: 2;
    }

    .board {
        order: 0;
        max-width: 100vw;
    }

    .resignBtn {
        background-color: #b58863;
        text-decoration: none;
        padding: 6px 10px;
        border-radius: 999px;
        font-size: 21px;
        font-weight: bold;
        order: 1;
        margin-top: 15px;
    }

    .fen-display{
        overflow: auto;
        font-size: small;
        font-weight: bold;
        bottom: -110px;
        position: absolute;
    }

    .pgnlist {
        cursor: pointer;
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        overflow-y: hidden;
    }
}