#landing-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

/* 
We use this "pseudo element" so we can define the opacity of the 
background image without it affecting the child elements of the div.
To make the child elements appear with regular opacity, their
`position` attribute MUST be set to `relative`.
*/

#landing-main::before {
    content: "";
    background-image: url('/assets/images/background_image.png');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.55;
}

.landing-text {
    position: relative;
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    color: azure;
    text-shadow: 4px -4px 4px black;
    margin-top: auto;
}

.time-and-difficulty {
    font-size: 20px;
    font-weight: 800;
}

.increment-box {
    font-size: 12px;
    width: 10px;
}

.landing-btn {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: auto;
    margin-top: 20px;
}

.c-btn {
    margin-right: 5px;
}

.j-btn {
    margin-left: 5px;
}

.choose-player-btn {
    background-size: cover;
    height: 100px;
    width: 100px;
    margin: 10px;
    border-radius: 999px;
}

.choose-player-btn:active {
    cursor: pointer;
    background-color: rgb(80, 57, 57);
}

.choose-player-btn:hover {
    cursor: pointer;
    background-color: rgb(80, 57, 57);
}

.choosing-white-btn {
    background-image: url('/assets/images/white_king.svg');
}

.choosing-black-btn {
    background-image: url('/assets/images/black_king.svg');
}

.creating-game {
    position: relative;
    margin-top: 20px;
    margin-bottom: auto;
}

#chosen-color-indicator {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
    color: #b58863;
    text-shadow: 2px -2px 2px black;
}

#chosen-color {
    color: #604a0b;
}

.newGameBtns {
    background-color: #b58863;
    text-decoration: none;
    padding: 10px 18px;
    border-radius: 999px;
    font-size: 25px;
    font-weight: bold;
}

.link-as-btn {
    width: 100vw;
}

#created-game {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: 10px;
    margin-left: 10px;
}

.newGameBtns:hover {
    cursor: pointer;
}


@media (max-width: 500px) {
    .landing-text {
        position: relative;
        text-align: center;
        font-size: 33px;
        font-weight: 800;
        color: azure;
        text-shadow: 4px -4px 4px black;
        margin-top: auto;
    }

    .choose-player-btn {
        background-size: cover;
        height: 80px;
        width: 80px;
        margin: 10px;
        border-radius: 999px;
    }

    .newGameBtns {
        background-color: #b58863;
        text-decoration: none;
        padding: 6px 10px;
        border-radius: 999px;
        font-size: 21px;
        font-weight: bold;
    }
}